<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="icon" type="image/jpg" href="" class="imgPerfil">
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/homepage.css">
    <link rel="stylesheet" href="../css/modalDelete.css">
    <link rel="stylesheet" href="../css/modalEditarHabito.css">
    <link rel="stylesheet" href="../css/modalCriarHabito.css">
    <title>KenzieHabit</title>
</head>

<body>
    <header>
        <section class="section_header1">


            <h2 class="nome1"></h2>
            <div class="dropdown">
                <img src="" alt="imagem usuario" class="img_header1">

                <div class="dropdown-content">
                    <button class="botao_editar cursor">Editar Perfil</button>
                    <button class="botao_logout cursor">Logout</button>
                </div>
            </div>
        </section>
        <section class="section_header2">

            <img src="" alt="imagem usuario" class="img_header2">
            <h2 class="nome2"></h2>


        </section>
    </header>
    <main>
        <section class="section_main" id="section_main">
            <nav class="nav">
                <h2 class="nav_h2">Tarefas</h2>
                <div class="nav_botoes">
                    <button class="btnfiltro" id="btnTodos">Todos</button>
                    <button class="btnfiltro" id="btnConcluidos">Concluídos</button>
                    <button class="botao_criar">Criar</button>
                </div>
            </nav>
        </section>

        <div class="modal">
        </div>
   
        <div class = 'modal' id="criar_modal">
            <div class="modal_habito">
              <div class="modal_header">
                <h3>Criar Hábito</h3>
                <p id="fechar_criarModal">X</p>
              </div>
              <form action="" class="form_modal">
                <p>Título</p>
                <input type = 'text' class= "input_modal" id="titulo_criarModal" placeholder="Digite um título">
                <p>Descrição</p>
                <input type = 'text' class= "input_modal" id="descricao_criarModal" placeholder=" Digitar uma descrição">
                <p>Categoria</p>
                <select class="selecionar_habito" id="selecionar_cate">
                  <option>Selecionar uma categoria</option>
                  <option>💜 Saúde</option>
                  <option>✏️ Estudo</option>
                  <option>🏠 Casa</option>
                  <option>💼 Trabalho</option>
                  <option>⛵ Lazer</option>
                </select>
                <input type="submit" class="botao_modalHabito" value="Inserir" id="botaoInserir">
              </form>
            </div>
          </div>

        
        
    </main>
    <footer class="button__carregar">
        <button class="button__carregar__mais">
            Carregar mais
        </button>
    </footer>
    
<script type="module" src="../controller/HomepageDOM.controller.js"></script>
<script type="module" src="../scripts/homepage.js"></script>
<script type="module" src="../models/modalDelete.models.js"></script>


</body>

</html>