<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/jpg" href="../assets/img/luffy.avif">
    <title>KenzieHabit</title>
</head>

<body>
    <header>
        <h2>Luffy</h2>
        <img src="../assets/img/luffy.avif" alt="imagem usuario">
        <section>
            <img src="../assets/img/luffy.avif" alt="imagem usuario">
            <h2>Luffy</h2>
        </section>
    </header>
    <main>
        <section>
            <nav>
                <h2>Tarefas</h2>

                <div>
                    <button>Todos</button>
                    <button>Concluídos</button>
                    <button>Criar</button>
                </div>
            </nav>
            <ul>
                <li>
                    <input type="checkbox">
                    <h3>Fazer exercícios segunda pela manhã</h3>
                    <p>Ir correr na  praça próximo de csa</p>
                </li>
                <li>
                    <input type="checkbox">
                    <h3>Fazer exercícios segunda pela manhã</h3>
                    <p>Ir correr na  praça próximo de csa</p>
                </li>
                <li>
                    <input type="checkbox">
                    <h3>Fazer exercícios segunda pela manhã</h3>
                    <p>Ir correr na  praça próximo de csa</p>
                </li>
                <li>
                    <input type="checkbox">
                    <h3>Fazer exercícios segunda pela manhã</h3>
                    <p>Ir correr na  praça próximo de csa</p>
                </li>
            </ul>
            <form>
            </form>
        </section>
    </main>



</body>

</html>