<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="icon" type="image/jpg" href="../assets/img/luffy.avif" >
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/homepage.css">
    <link rel="stylesheet" href="../css/modalDelete.css">

    <title>KenzieHabit</title>
</head>

<body>
    <header>
        <section class="section_header1">
            
            <h2>Luffy</h2>
            <div class="dropdown">
            <img src="../assets/img/luffy.avif" alt="imagem usuario" class="img_header1">
            <div class="dropdown-content">
                <button class="botao_editar">Editar Perfil</button>
                <button class="botao_logout">Logout</button>
            </div>
        </div>
        </section>
        <section class="section_header2">
            <img src="../assets/img/luffy.avif" alt="imagem usuario" class="img_header2">
            <h2>Luffy</h2>
        
        </section>
    </header>
    <main>
        <section class="section_main">
            <nav class="nav">
                <h2>Tarefas</h2>
                <div>
                    <button>Todos</button>
                    <button>Concluídos</button>
                    <button>Criar</button>
                </div>
            </nav>
            <ul class="ul">
                <li class="li_1">
                    <h3 class="coluna_1">Status</h3 >
                    <h3 class="coluna_2">Título</h3 >
                    <h3 class="coluna_3">Descrição</h3 >
                    <h3 class="coluna_4">Categoria</h3>
                    <h3 class="coluna_5">Editar</h3>

                </li>
                <li>
                    <input type="checkbox" class="coluna_1">
                    <h3 class="coluna_2">Fazer exercícios segunda pela manhã</h3>
                    <p class="coluna_3">Ir correr na praça próximo de csa</p>
                    <p class="coluna_4 categoria">Saúde</p>
                    <p class="coluna_5">...</p>
                </li>
                <li>
                    <input type="checkbox" class="coluna_1">
                    <h3 class="coluna_2">Fazer exercícios segunda pela manhã</h3>
                    <p class="coluna_3">Ir correr na praça próximo de csa</p>
                    <p class="coluna_4 categoria">Estudos</p>
                    <p class="coluna_5">...</p>
                </li>
                <li>
                    <input type="checkbox" class="coluna_1">
                    <h3 class="coluna_2">Fazer exercícios segunda pela manhã</h3>
                    <p class="coluna_3">Ir correr na praça próximo de csa</p>
                    <p class="coluna_4 categoria">Casa</p>
                    <p class="coluna_5">...</p>
                </li>
                <li>
                    <input type="checkbox" class="coluna_1">
                    <h3 class="coluna_2">Fazer exercícios segunda pela manhã</h3>
                    <p class="coluna_3">Ir correr na praça próximo de csa</p>
                    <p class="coluna_4 categoria">Trabalho</p>
                    <p class="coluna_5">...</p>
                </li>
            </ul>
            <button class="btn_homepage">Carregar mais</button>
        </section>

        <div class="modal">
            <div class="modal__delete">
                <div class="modal__delete__container">
                    <div class="modal__inner">
                        <div class="modal__delete__cabecalho">
                            <h2 class="modal__delete__titulo">
                                Excluir hábito
                            </h2>
                
                            <button class="modal__delete__sair">
                                X
                            </button>
                        </div>
                
                        <div class="modal__delete__conteudo">
                            <h2 class="modal__delete__conteudo__titulo">
                                Certeza que deseja excluir este hábito?
                            </h2>
                            <p class="modal__delete__conteudo__paragrafo">
                                Após executar essa ação não será possível desfazer
                            </p>
                        </div>
                
                        <div class="modal__delete__butao__acao">
                            <button class="modal__delete__butao__cancelar">
                                Cancelar
                            </button>
                
                            <button class="modal__delete__butao__excluir">
                                Sim, excluir este hábito
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>


<script type="module" src="../scripts/nome.scripts.js"></script>
</body>

</html>